#footer {
  left: 0;
  bottom: 0;
}

#footer ion-row {
  padding-bottom: 1em;
}

@media (max-width: 768px) {
  .footer-content {
    display: none;
  }
}

@media (max-height: 400px) {
  .footer-content {
    display: none;
  }
}

.footer__item {
  text-decoration: none;
  color: white;
}

.footer__item--title {
  text-decoration: none;
  color: lightgray;
}
